*.csv
*.gz
week_1_basics_and_setup/1_docker_sql/.ipynb_checkpoints
week_1_basics_and_setup/1_docker_sql/data_pgadmin
week_1_basics_and_setup/1_docker_sql/ny-taxi-volume
week_1_basics_and_setup/2_gcp_terraform/terraforms/variables.tf
